<div class="foot_navi">
  <ul>
    <li><a href="./notice_list.html" id="noticeMenuBtn">공지사항</a></li>
    <li><a href="./reference_list.html" id="referenceMenuBtn">자료실</a></li>
    <li><a href="http://iernet.kins.re.kr" target="_blank">국가환경방사선자동감시망</a></li>
    <li><a href="https://erix.kins.re.kr/" target="_blank">에릭스</a></li>
    <li id="adminMenu"><a href="javascript:void(0);" id="adminMenuBtn">ADMIN</a></li>
  </ul>
  <div class="family_site">
    <div class="select_layer_wrap">
        <select class="select_layer" onchange="window.open(this.options[this.selectedIndex].value,'_blank')">
          <option selected disabled>Family Site</option>
          <option value="http://google.co.kr">구글</option>
          <option value="http://google.co.kr">구글</option>
          <option value="http://google.co.kr">구글</option>
        </select>
    </div>
  </div>
</div>
<div class="foot_area">
  <div id="footer" class="footer">
    <div class="footer_logo">
      <img src="../images/main/tit_footer_logo.png" alt="KINS 한국원자력안전기술원 KOREA INSTITUTE OF NUCLEAR SAFETY">
    </div>
    <address>34142 대전광역시 유성구 과학로 62 한국원자력안전기술원</address>
  </div>
</div>