<div id="header" class="header">
  <h1 class="logo"><a href="./main.html"><img src="../images/main/tit_header_logo.png" alt="KINS 한국원자력안전기술원 KOREA INSTITUTE OF NUCLEAR SAFETY"></a></h1>
  <div class="header_top">
    <!-- GNB -->
    <ul class="gnb">
      <li class="depth01">
        <a href="./radiation_list.html"><span>방사능 재난정보</span></a>
      </li>
      <li class="depth01">
        <a href="./response_list.html"><span>오염검사 대응현황</span></a>
      </li>
      <li>
        <a href="./inspection_list.html"><span>검사현황</span></a>
      </li>
      <li>
        <a href="./object_list.html"><span>관리대상</span></a>
      </li>
    </ul>
    <!--// GNB -->
    <!-- Utility -->
    <div class="util_wrap">
      <ul class="util_top">
        <li><a href="javascript:void(0)"><span id="orgName"></span></a></li>
        <li class="mem_log"><a href="javascript:void(0)" id="logout"><span>로그아웃</span></a></li>
      </ul>
    </div>
    <!--// Utility -->
  </div>		
</div>